[submodule "libs/mach-freetype"]
	path = libs/mach-freetype
	url = https://github.com/hexops/mach-freetype.git
[submodule "libs/mach-glfw"]
	path = libs/mach-glfw
	url = https://github.com/hexops/mach-glfw.git
[submodule "libs/mecha"]
	path = libs/mecha
	url = https://github.com/Hejsil/mecha.git
[submodule "libs/gui"]
	path = libs/gui
	url = https://github.com/AB55AL/gui.git
